@import url('https://fonts.googleapis.com/css?family=Rubik');
body
{
  background: #0B1C2B;
}
.container
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 300px;
  // background-color: #bbbb;
  text-align: center;
}
.container h1
{
  font-family: "Rubik";
  font-weight: 700;
  font-size: 50px;
  color: #CCCCCC;
}
.container h4
{
  font-family: "Rubik";
  font-weight: 700;
  font-size: 25px;
  color: #CCCCCC;
}
.button
{
  cursor: pointer;
  user-select: none;
}
